body{
    font-family: -apple-system, BlinkMacSystemFont, 
    "Helvetica Neue", "Meiryo", "MS Gothic", "Yu Gothic Medium", 
    "YuGothic", "Hiragino Kaku Gothic ProN", Verdana, "sans-serif";
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
   
}

.head-cont{
    background-color: antiquewhite;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: rgb(211, 136, 149);
}

li{
    font-size: 25px;
    
}

.top-p{
    width: 600px;
    font-size: larger;
}



#home{
    color: black;
    margin: 0;
    padding: 0;
}

.nav-cont{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    
   
}

.hlogo{
    display: flex;

    font-weight: bold;
    font-size: 40px;
   
   
}
.navs{
    list-style-type: none;
    display: flex;
    gap: 40px;
    
}

/*NAV BG*/
.navbg{
    background-color: rgb(255, 255, 255);
    
}

.shibologo{
    width: 30px;
}

.tophalf{
    display: flex;
    margin: 80px;
}

.r-img{
    position: relative;
    height: 480px;
    
}

.mid-cont{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    
   
    
   
}

.bearmods{
    display: flex;
    justify-content: space-around;
    

}

.b-para {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 150px;
    border: 4px dashed black;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
